# REQUIRED 
OPENAI_API_KEY='<your_api_key_here>'
# PostgreSQL Database connection parameters (replace with your parameters)
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=<exago_db>
POSTGRES_USER=<user>
POSTGRES_PASSWORD=

# OPTIONAL 
# Evaluation and tracing
# LANGSMITH_API_KEY='<your_api_key_here>'
# LANGSMITH_TRACING=false   # set tracing to true when you set up your LangSmith account
# LANGSMITH_PROJECT=<name>

# Uncomment the following if you are on the EU LangSmith instance:
# LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com


